<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>


# Laboratorio de Codificación de Variables Categóricas

AutoRenew, la empresa líder en la venta de coches de segunda mano, continúa con el desarrollo del modelo predictivo que ayudará a estimar el precio de los vehículos usados. Hasta ahora, has realizado un análisis exploratorio, gestionado los valores nulos y tratado los outliers en el conjunto de datos. El siguiente paso en el proceso de preprocesamiento es manejar las variables categóricas para que el modelo de machine learning pueda interpretarlas correctamente.

En este laboratorio, te centrarás en la **codificación de variables categóricas**. Dado que los modelos de machine learning requieren datos numéricos para funcionar, es crucial convertir las variables categóricas en un formato que los algoritmos puedan procesar. Trabajarás con el mismo conjunto de datos que has utilizado en los laboratorios anteriores, enfocándote ahora en transformar las columnas categóricas de manera efectiva.

**Instrucciones:**

1. **Identificación de Variables Categóricas:** Revisa el conjunto de datos e identifica las columnas que contienen variables categóricas. Estas son las columnas que contienen texto o categorías que necesitan ser transformadas en valores numéricos para ser utilizadas en el modelo de machine learning.

2. **Selección de Técnicas de Codificación:** Decide qué técnica(s) de codificación aplicar a cada variable categórica. Algunas de las opciones que tienes son:

   - **Label Encoding:** Asigna un número único a cada categoría dentro de una variable.

   - **One-Hot Encoding:** Crea nuevas columnas binarias (0/1) para cada categoría única en una variable.

   - **Target Encoding:** Utiliza la media del target (en este caso, el `price`) para codificar las categorías, si consideras que podría ser útil.

3. **Aplicación de la Codificación:** Implementa las técnicas seleccionadas en las variables categóricas. Asegúrate de revisar cómo estas transformaciones afectan el conjunto de datos y de mantener un registro de los cambios realizados.

4. **Verificación del Conjunto de Datos Transformado:** Una vez que hayas aplicado la codificación, verifica que el conjunto de datos resultante esté listo para ser utilizado en el modelo de machine learning. Asegúrate de que no queden variables categóricas sin codificar y que la estructura del conjunto de datos sea adecuada para el análisis.

**Nota:** Este laboratorio es parte de una serie continua en la que utilizas el mismo conjunto de datos a lo largo de la semana. Documenta bien los pasos que sigas, ya que esta codificación será clave para los modelos que desarrollarás más adelante.

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Ignorar los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')

import numpy as np

# Para la visualización 
# -----------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Otros objetivos
# -----------------------------------------------------------------------
import math
from itertools import combinations

# Para pruebas estadísticas
# -----------------------------------------------------------------------
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Para la codificación de las variables numéricas
# -----------------------------------------------------------------------
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder, TargetEncoder # para poder aplicar los métodos de OneHot, Ordinal,  Label y Target Encoder 

from src import Asunciones as sas
from src import soporte_preprocesamiento as sp
from src import soporte_encoding as se

In [2]:
df = pd.read_csv("datos/outliersNum.csv", index_col=0)

In [3]:
df.tail(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,model,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,lastSeen,kilometer_robust,powerCV_robust
330611,2016-03,Suche_t4___vito_ab_6_sitze,private,offer,2200.0,test,Sin informacion,Moderno,Sin informacion,Sin informacion,1.0,Sin informacion,sonstige_autos,Sin informacion,2016-03,2016-04,-2.6,0.152152
330612,2016-03,Smart_smart_leistungssteigerung_100ps,private,offer,1199.0,test,convertible,Moderno,automatic,fortwo,3.0,petrol,smart,no,2016-03,2016-03,-0.5,-0.349230
330613,2016-03,Volkswagen_Multivan_T4_TDI_7DC_UY2,private,offer,9200.0,test,bus,Clásico,manually,transporter,3.0,diesel,volkswagen,no,2016-03,2016-04,0.0,-0.332281
330614,2016-03,VW_Golf_Kombi_1_9l_TDI,private,offer,3400.0,test,combi,Moderno,manually,golf,6.0,diesel,volkswagen,Sin informacion,2016-03,2016-03,0.0,-0.366179
330615,2016-03,BMW_M135i_vollausgestattet_NP_52.720____Euro,private,offer,28990.0,control,Sin informacion,Moderno,manually,m_reihe,8.0,petrol,bmw,no,2016-03,2016-03,-2.0,3.311787

In [3]:
df['monthOfRegistration'] = df['monthOfRegistration'].astype(str)

In [4]:
for column in df.select_dtypes(include="O").columns:
    print(f"Columna '{column}':")
    print(df[column].value_counts())
    print("\n")

Columna 'dateCrawled':
dateCrawled
2016-03    276250
2016-04     54366
Name: count, dtype: int64


Columna 'name':
name
BMW_318i                                                624
Volkswagen_Golf_1.4                                     602
BMW_316i                                                520
BMW_320i                                                491
Opel_Corsa                                              487
                                                       ...
Nissan_Micra_1.2_Season_Klima__CD/Radio__5_tuerer         1
Fiat_Punto_Evo_1.Hand                                     1
Crysler_new_Yorker                                        1
HYUNDAI_IX35___2.0L___Benzin___STYLE_mit_PLUS_PAKETT      1
BMW_M135i_vollausgestattet_NP_52.720____Euro              1
Name: count, Length: 205339, dtype: int64


Columna 'seller':
seller
private       330614
commercial         2
Name: count, dtype: int64


Columna 'offerType':
offerType
offer      330611
request         5
Name: count, dtype: int64


Columna 'abtest':
abtest
test       171311
control    159305
Name: count, dtype: int64


Columna 'vehicleType':
vehicleType
Sin informacion    116032
small car           67861
combi               62386
bus                 28895
convertible         21670
coupe               17033
suv                 13915
other                2824
Name: count, dtype: int64


Columna 'yearOfRegistration':
yearOfRegistration
Moderno        226848
Clásico         77665
Reciente        22595
Antiguo          3306
Desconocido       202
Name: count, dtype: int64


Columna 'gearbox':
gearbox
manually           244905
automatic           72276
Sin informacion     13435
Name: count, dtype: int64


Columna 'model':
model
golf               26800
andere             23529
3er                19123
Sin informacion    15155
polo               10579
                   ...
elefantino             6
samara                 5
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 252, dtype: int64


Columna 'monthOfRegistration':
monthOfRegistration
3.0     57989
6.0     30291
4.0     28227
5.0     27993
7.0     26572
10.0    25294
11.0    23570
12.0    23219
9.0     23141
1.0     22152
8.0     21834
2.0     20334
Name: count, dtype: int64


Columna 'fuelType':
fuelType
petrol             197813
diesel             103151
Sin informacion     23584
lpg                  5059
cng                   535
hybrid                262
other                 126
electro                86
Name: count, dtype: int64


Columna 'brand':
brand
volkswagen        70907
bmw               37527
mercedes_benz     33516
opel              33388
audi              30508
ford              21256
renault           14900
peugeot            9884
fiat               8076
seat               6223
skoda              5412
smart              5077
mazda              5036
citroen            4648
toyota             4508
nissan             4395
hyundai            3429
mini               3313
volvo              2980
sonstige_autos     2926
mitsubishi         2580
honda              2549
kia                2393
suzuki             2081
alfa_romeo         2062
chevrolet          1755
porsche            1524
chrysler           1287
dacia               883
jeep                772
land_rover          727
subaru              659
daihatsu            607
jaguar              567
saab                487
daewoo              413
lancia              391
trabant             390
rover               376
lada                204
Name: count, dtype: int64


Columna 'notRepairedDamage':
notRepairedDamage
no                 249350
Sin informacion     54843
yes                 26423
Name: count, dtype: int64


Columna 'dateCreated':
dateCreated
2016-03    276157
2016-04     53946
2016-02       411
2016-01        73
2015-12        10
2015-11         9
2015-09         3
2015-06         2
2015-08         2
2015-03         1
2014-03         1
2015-10         1
Name: count, dtype: int64


Columna 'lastSeen':
lastSeen
2016-04    193454
2016-03    137162
Name: count, dtype: int64

Eliminaremos las columnas "name" y "model", por contener 270k y 250 valores únicos, así como "seller" y "offerType", que en una de las categorías contienen entre 2 y 5 registros. "lastSeen" la eliminaremos por contener los mismos registros que "dateCrawled"

In [5]:
df.drop(columns=["name","model","seller","offerType","lastSeen"], inplace=True)

In [6]:
lista_col_categ = df.select_dtypes(include="O").columns.tolist()
lista_col_categ

['dateCrawled',
 'abtest',
 'vehicleType',
 'yearOfRegistration',
 'gearbox',
 'monthOfRegistration',
 'fuelType',
 'brand',
 'notRepairedDamage',
 'dateCreated']

In [44]:
visualizador = sp.Visualizador(df)

In [45]:
visual_encoding = se.Analisis_Visual_Encoding(df, lista_col_categ, "price")

In [46]:
#visual_encoding.crear_boxplot(tamano_grafica=(20, 30))

In [47]:
#se.visualizar_categorias(df, lista_col_categ, "price", tipo_grafica="barplot")

In [48]:
# instanciamos la clase de Asunciones, para poder decir qué método usar para el análisis estadístico
asunciones = se.Asunciones(dataframe = df, columna_numerica = "price")
print("\n-------------\n")

for categoria in lista_col_categ:   

    print(f"Estamos analizando la variable {categoria.upper()}")
    
    asunciones.identificar_normalidad(metodo = "kolmogorov") 

    # comprobamos la homogeneidad de varianzas
    asunciones.identificar_homogeneidad(columna_categorica = categoria)

    # instanciamos la clase para evaluar si hay diferencias entre los distintos grupos de las variables categóricas
    test = se.TestEstadisticos(df, "price", categoria)
    test.run_all_tests()
    print("\n###########################\n")

-------------

Estamos analizando la variable DATECRAWLED
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable dateCrawled las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['2016-03', '2016-04']

Realizando test de Mannwhitneyu...
Estadístico del Test de Mann-Whitney U: 7279522123.5
Valor p: 1.3681652500921673e-29
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

   meandiff  p-adj     lower     upper       group_diff
0  309.4812    0.0  247.2315  371.7308  2016-03-2016-04

###########################

Estamos analizando la variable ABTEST
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable abtest las varianzas son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['test', 'control']

Realizando test de Mannwhitneyu...
Estadístico del Test de Mann-Whitney U: 13621232588.0
Valor p: 0.3791147249083183
No hay evidencia suficiente para concluir que hay una diferencia significativa.
Los resultados del test de Tukey son:

Empty DataFrame
Columns: [meandiff, p-adj, lower, upper, group_diff]
Index: []

###########################

Estamos analizando la variable VEHICLETYPE
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable vehicleType las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['coupe', 'suv', 'small car', 'Sin informacion', 'convertible', 'bus', 'combi', 'other']

Realizando test de Anova...
Estadístico F: 5859.687184681187
Valor p: 0.0
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

     meandiff  p-adj      lower      upper                   group_diff
0   1247.3983    0.0  1120.1491  1374.6474          Sin informacion-bus
1    550.7150    0.0   454.6274   646.8026        Sin informacion-combi
2   3822.2533    0.0  3679.0238  3965.4827  Sin informacion-convertible
3   4139.3334    0.0  3980.5233  4298.1434        Sin informacion-coupe
4   -769.0231    0.0 -1137.6354  -400.4108        Sin informacion-other
5  -2329.2849    0.0 -2422.8177 -2235.7521    Sin informacion-small car
6   7146.8963    0.0  6973.2629  7320.5296          Sin informacion-suv
7   -696.6832    0.0  -834.4092  -558.9573                    bus-combi
8   2574.8550    0.0  2400.9289  2748.7811              bus-convertible
9   2891.9351    0.0  2704.9692  3078.9010                    bus-coupe
10 -2016.4213    0.0 -2398.0110 -1634.8317                    bus-other
11 -3576.6832    0.0 -3712.6390 -3440.7273                bus-small car
12  5899.4980    0.0  5699.7879  6099.2082                      bus-suv
13  3271.5382    0.0  3118.9251  3424.1513            combi-convertible
14  3588.6184    0.0  3421.2961  3755.9406                  combi-coupe
15 -1319.7381    0.0 -1692.0970  -947.3792                  combi-other
16 -2879.9999    0.0 -2987.3521 -2772.6478              combi-small car
17  6596.1813    0.0  6414.7298  6777.6327                    combi-suv
18   317.0801    0.0   118.8919   515.2683            convertible-coupe
19 -4591.2763    0.0 -4978.4881 -4204.0645            convertible-other
20 -6151.5381    0.0 -6302.5558 -6000.5205        convertible-small car
21  3324.6430    0.0  3114.3897  3534.8964              convertible-suv
22 -4908.3565    0.0 -5301.5980 -4515.1149                  coupe-other
23 -6468.6183    0.0 -6634.4865 -6302.7500              coupe-small car
24  3007.5629    0.0  2786.4013  3228.7245                    coupe-suv
25 -1560.2618    0.0 -1931.9696 -1188.5540              other-small car
26  7915.9194    0.0  7516.4612  8315.3775                    other-suv
27  9476.1812    0.0  9296.0696  9656.2928                small car-suv

###########################

Estamos analizando la variable YEAROFREGISTRATION
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable yearOfRegistration las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['Moderno', 'Clásico', 'Reciente', 'Antiguo', 'Desconocido']

Realizando test de Anova...
Estadístico F: 9316.86615579774
Valor p: 0.0
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

    meandiff  p-adj      lower       upper            group_diff
0 -8814.3332    0.0 -9125.2340  -8503.4324       Antiguo-Clásico
2 -3817.1081    0.0 -4123.8065  -3510.4096       Antiguo-Moderno
3 -5116.6790    0.0 -5442.6822  -4790.6758      Antiguo-Reciente
4  8958.4189    0.0  7725.0030  10191.8349   Clásico-Desconocido
5  4997.2252    0.0  4924.4398   5070.0105       Clásico-Moderno
6  3697.6542    0.0  3565.3218   3829.9866      Clásico-Reciente
7 -3961.1938    0.0 -5193.5572  -2728.8304   Desconocido-Moderno
8 -5260.7647    0.0 -6498.0738  -4023.4557  Desconocido-Reciente
9 -1299.5710    0.0 -1421.7040  -1177.4379      Moderno-Reciente

###########################

Estamos analizando la variable GEARBOX
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable gearbox las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['manually', 'automatic', 'Sin informacion']

Realizando test de Anova...
Estadístico F: 19195.89050734718
Valor p: 0.0
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

    meandiff  p-adj      lower      upper                 group_diff
0  6356.1010    0.0  6214.9924  6497.2096  Sin informacion-automatic
1  1161.7082    0.0  1028.6232  1294.7933   Sin informacion-manually
2 -5194.3927    0.0 -5257.9710 -5130.8145         automatic-manually

###########################

Estamos analizando la variable MONTHOFREGISTRATION
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable monthOfRegistration las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['5.0', '8.0', '6.0', '7.0', '10.0', '3.0', '12.0', '11.0', '2.0', '1.0', '4.0', '9.0']

Realizando test de Anova...
Estadístico F: 211.34046145317737
Valor p: 0.0
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

     meandiff   p-adj      lower      upper group_diff
0   -235.8864  0.0080  -438.7744   -32.9984   1.0-10.0
2   -423.1141  0.0000  -630.1916  -216.0367   1.0-12.0
3   -220.3835  0.0370  -434.5132    -6.2538    1.0-2.0
4  -1578.6047  0.0000 -1752.7533 -1404.4561    1.0-3.0
6   -267.9512  0.0006  -466.2200   -69.6823    1.0-5.0
9   -270.4051  0.0016  -480.6647   -60.1454    1.0-8.0
11   207.0878  0.0339     7.4799   406.6958  10.0-11.0
14 -1342.7182  0.0000 -1508.8561 -1176.5804   10.0-3.0
15   235.2801  0.0033    44.3858   426.1743   10.0-4.0
18   353.3537  0.0000   159.6703   547.0371   10.0-7.0
20   210.8392  0.0293    10.2758   411.4026   10.0-9.0
21  -394.3156  0.0000  -598.1803  -190.4508  11.0-12.0
23 -1549.8061  0.0000 -1720.1220 -1379.4902   11.0-3.0
25  -239.1526  0.0035  -434.0636   -44.2415   11.0-5.0
28  -241.6065  0.0076  -448.7028   -34.5101   11.0-8.0
31 -1155.4905  0.0000 -1326.7193  -984.2618   12.0-3.0
32   422.5078  0.0000   227.1667   617.8489   12.0-4.0
34   240.3511  0.0026    48.0372   432.6651   12.0-6.0
35   540.5814  0.0000   342.5138   738.6490   12.0-7.0
37   398.0669  0.0000   193.2665   602.8673   12.0-9.0
38 -1358.2212  0.0000 -1537.9147 -1178.5277    2.0-3.0
39   219.7771  0.0204    16.9753   422.5790    2.0-4.0
42   337.8508  0.0000   132.4214   543.2801    2.0-7.0
45  1577.9983  0.0000  1417.9833  1738.0133    3.0-4.0
46  1310.6535  0.0000  1150.1893  1471.1177    3.0-5.0
47  1395.8416  0.0000  1239.5364  1552.1468    3.0-6.0
48  1696.0719  0.0000  1532.7397  1859.4042    3.0-7.0
49  1308.1996  0.0000  1133.1358  1483.2634    3.0-8.0
50  1553.5574  0.0000  1382.1227  1724.9921    3.0-9.0
51  -267.3448  0.0002  -453.3222   -81.3674    4.0-5.0
54  -269.7987  0.0006  -468.5100   -71.0874    4.0-8.0
57   385.4184  0.0000   196.5793   574.2576    5.0-7.0
59   242.9039  0.0030    47.0145   438.7933    5.0-9.0
60   300.2303  0.0000   114.9122   485.5484    6.0-7.0
63  -387.8723  0.0000  -589.2645  -186.4801    7.0-8.0
65   245.3578  0.0065    37.3404   453.3752    8.0-9.0

###########################

Estamos analizando la variable FUELTYPE
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable fuelType las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['diesel', 'petrol', 'Sin informacion', 'lpg', 'other', 'hybrid', 'cng', 'electro']

Realizando test de Anova...
Estadístico F: 3383.1967513923305
Valor p: 0.0
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

     meandiff   p-adj       lower       upper               group_diff
0   1320.8626  0.0001    454.2045   2187.5208      Sin informacion-cng
1   4870.5308  0.0000   4727.4582   5013.6035   Sin informacion-diesel
2   4537.0040  0.0000   2395.6181   6678.3900  Sin informacion-electro
3   9327.1682  0.0000   8095.7597  10558.5768   Sin informacion-hybrid
4    920.6151  0.0000    613.4853   1227.7449      Sin informacion-lpg
6   1337.4121  0.0000   1200.8584   1473.9658   Sin informacion-petrol
7   3549.6682  0.0000   2690.4564   4408.8800               cng-diesel
8   3216.1414  0.0006    913.2499   5519.0328              cng-electro
9   8006.3056  0.0000   6511.6009   9501.0103               cng-hybrid
14  4456.6374  0.0000   3230.4581   5682.8167            diesel-hybrid
15 -3949.9157  0.0000  -4235.3580  -3664.4733               diesel-lpg
16 -4543.5488  0.0000  -6310.5368  -2776.5608             diesel-other
17 -3533.1188  0.0000  -3609.2472  -3456.9903            diesel-petrol
18  4790.1642  0.0000   2326.7155   7253.6130           electro-hybrid
19 -3616.3889  0.0000  -5771.9727  -1460.8051              electro-lpg
20 -4210.0220  0.0001  -6982.6219  -1437.4220            electro-other
21 -3199.5920  0.0002  -5337.5488  -1061.6351           electro-petrol
22 -8406.5531  0.0000  -9662.4888  -7150.6173               hybrid-lpg
23 -9000.1862  0.0000 -11149.1729  -6851.1995             hybrid-other
24 -7989.7562  0.0000  -9215.1919  -6764.3204            hybrid-petrol
26   416.7969  0.0002    134.5657    699.0282               lpg-petrol

###########################

Estamos analizando la variable BRAND
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable brand las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['audi', 'jeep', 'volkswagen', 'skoda', 'bmw', 'peugeot', 'ford', 'mazda', 'nissan', 'renault', 'mercedes_benz', 'opel', 'citroen', 'honda', 'fiat', 'mini', 'smart', 'hyundai', 'seat', 'subaru', 'volvo', 'mitsubishi', 'alfa_romeo', 'kia', 'suzuki', 'lancia', 'porsche', 'toyota', 'chevrolet', 'sonstige_autos', 'dacia', 'daihatsu', 'chrysler', 'jaguar', 'daewoo', 'rover', 'saab', 'trabant', 'land_rover', 'lada']

Realizando test de Anova...
Estadístico F: 1338.8167324982328
Valor p: 0.0
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

      meandiff  p-adj      lower      upper            group_diff
0    4468.4753    0.0  3911.8960  5025.0546       alfa_romeo-audi
1    3900.9180    0.0  3347.6439  4454.1922        alfa_romeo-bmw
2    2517.1851    0.0  1722.7699  3311.6003  alfa_romeo-chevrolet
5    1474.2959    0.0   490.5401  2458.0518      alfa_romeo-dacia
6   -3213.6274    0.0 -4532.3018 -1894.9529     alfa_romeo-daewoo
..         ...    ...        ...        ...                   ...
772  1351.0629    0.0   807.0434  1895.0824     suzuki-volkswagen
773  1165.6935    0.0   466.9089  1864.4782          suzuki-volvo
774 -2935.6939    0.0 -4226.7779 -1644.6100        toyota-trabant
777  3269.1458    0.0  2027.1271  4511.1645    trabant-volkswagen
778  3083.7764    0.0  1766.6002  4400.9526         trabant-volvo

[628 rows x 5 columns]

###########################

Estamos analizando la variable NOTREPAIREDDAMAGE
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable notRepairedDamage las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['yes', 'Sin informacion', 'no']

Realizando test de Anova...
Estadístico F: 8395.889261700297
Valor p: 0.0
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

    meandiff  p-adj      lower      upper           group_diff
0  3095.9106    0.0  3022.9046  3168.9166   Sin informacion-no
1  -984.3750    0.0 -1100.2933  -868.4567  Sin informacion-yes
2 -4080.2856    0.0 -4180.4306 -3980.1406               no-yes

###########################

Estamos analizando la variable DATECREATED
Para la columna price, los datos no siguen una distribución normal según el test de Kolmogorov-Smirnov.
En la variable dateCreated las varianzas NO son homogéneas entre grupos.
Generando grupos...
Grupos generados: ['2016-03', '2016-04', '2016-02', '2016-01', '2015-03', '2015-06', '2015-11', '2015-12', '2014-03', '2015-09', '2015-08', '2015-10']

Realizando test de Anova...
Estadístico F: 16.033020994982785
Valor p: 5.891590366773482e-32
Hay una diferencia significativa entre los datos antes y después
Los resultados del test de Tukey son:

      meandiff   p-adj       lower      upper       group_diff
22 -25583.3333  0.0021 -45775.6908 -5390.9758  2015-06-2015-09
24 -21396.1111  0.0031 -38687.8130 -4104.4092  2015-06-2015-11
25 -20075.1000  0.0072 -37208.8835 -2941.3165  2015-06-2015-12
26 -19456.0822  0.0035 -35309.8266 -3602.3377  2015-06-2016-01
27 -21548.4915  0.0004 -37227.4340 -5869.5490  2015-06-2016-02
28 -23230.3622  0.0001 -38871.3517 -7589.3727  2015-06-2016-03
29 -22923.8137  0.0001 -38565.0365 -7282.5909  2015-06-2016-04
61  -3774.2800  0.0001  -6363.5278 -1185.0322  2016-01-2016-03
62  -3467.7315  0.0007  -6058.3882  -877.0748  2016-01-2016-04
63  -1681.8707  0.0000  -2773.7627  -589.9787  2016-02-2016-03
64  -1375.3222  0.0024  -2470.5510  -280.0934  2016-02-2016-04
65    306.5485  0.0000    202.4260   410.6710  2016-03-2016-04

###########################

In [7]:
df.columns

Index(['dateCrawled', 'price', 'abtest', 'vehicleType', 'yearOfRegistration',
       'gearbox', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'kilometer_robust',
       'powerCV_robust'],
      dtype='object')

In [8]:
# definimos un diccionario con los distintos tipos de encoding y las columnas que irán asociadas a cada uno de ellos. 

diccionario_encoding = {"onehot": [], # no metemos ninguna columna porque todas nuestras columnas tienen orden
                        "dummies": [], # no metemos ninguna columna porque todas tienen orden
                        'ordinal' : [],
                        "label": [] , # no metemos ninguna columna porque no queremos en ningún caso que se asignen las categorías de forma aleatoria
                        "frequency": {
                                    'dateCrawled': ['2016-03', '2016-04'],
                                    'abtest': ['test', 'control'],
                                    'vehicleType': ['coupe', 'suv', 'small car', 'Sin informacion', 'convertible', 'bus', 'combi', 'other'],
                                    'yearOfRegistration': ['Moderno', 'Clásico', 'Reciente', 'Antiguo', 'Desconocido'],
                                    'gearbox': ['manually', 'automatic', 'Sin informacion'],
                                    'monthOfRegistration': ['5.0', '8.0', '6.0', '7.0', '10.0', '3.0', '12.0', '11.0', '2.0', '1.0', '4.0', '9.0'],
                                    'fuelType': ['diesel', 'petrol', 'Sin informacion', 'lpg', 'other', 'hybrid', 'cng', 'electro'],
                                    'brand': ['audi', 'jeep', 'volkswagen', 'skoda', 'bmw', 'peugeot', 'ford', 'mazda', 'nissan', 'renault', 'mercedes_benz', 'opel', 'citroen', 'honda', 'fiat', 'mini', 'smart', 'hyundai', 'seat', 'subaru', 'volvo', 'mitsubishi', 'alfa_romeo', 'kia', 'suzuki', 'lancia', 'porsche', 'toyota', 'chevrolet', 'sonstige_autos', 'dacia', 'daihatsu', 'chrysler', 'jaguar', 'daewoo', 'rover', 'saab', 'trabant', 'land_rover', 'lada'],
                                    'notRepairedDamage': ['yes', 'Sin informacion', 'no'],
                                    'dateCreated': ['2016-03', '2016-04', '2016-02', '2016-01', '2015-03', '2015-06', '2015-11', '2015-12', '2014-03', '2015-09', '2015-08', '2015-10']
                                    }, # no metemos ninguna columna porque no coincide el orden del value counts con las categorias y la variable respuesta
                        "target": {
                                    'dateCrawled': ['2016-03', '2016-04'],
                                    'abtest': ['test', 'control'],
                                    'vehicleType': ['coupe', 'suv', 'small car', 'Sin informacion', 'convertible', 'bus', 'combi', 'other'],
                                    'yearOfRegistration': ['Moderno', 'Clásico', 'Reciente', 'Antiguo', 'Desconocido'],
                                    'gearbox': ['manually', 'automatic', 'Sin informacion'],
                                    'monthOfRegistration': ['5.0', '8.0', '6.0', '7.0', '10.0', '3.0', '12.0', '11.0', '2.0', '1.0', '4.0', '9.0'],
                                    'fuelType': ['diesel', 'petrol', 'Sin informacion', 'lpg', 'other', 'hybrid', 'cng', 'electro'],
                                    'brand': ['audi', 'jeep', 'volkswagen', 'skoda', 'bmw', 'peugeot', 'ford', 'mazda', 'nissan', 'renault', 'mercedes_benz', 'opel', 'citroen', 'honda', 'fiat', 'mini', 'smart', 'hyundai', 'seat', 'subaru', 'volvo', 'mitsubishi', 'alfa_romeo', 'kia', 'suzuki', 'lancia', 'porsche', 'toyota', 'chevrolet', 'sonstige_autos', 'dacia', 'daihatsu', 'chrysler', 'jaguar', 'daewoo', 'rover', 'saab', 'trabant', 'land_rover', 'lada'],
                                    'notRepairedDamage': ['yes', 'Sin informacion', 'no'],
                                    'dateCreated': ['2016-03', '2016-04', '2016-02', '2016-01', '2015-03', '2015-06', '2015-11', '2015-12', '2014-03', '2015-09', '2015-08', '2015-10']
                                    }
                        }

In [9]:
encoding = se.Encoding(df, diccionario_encoding,"price")
encoding.frequency_encoding()

,dateCrawled,price,abtest,vehicleType,yearOfRegistration,gearbox,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,kilometer_robust,powerCV_robust
0,0.835561,18300.0,0.518157,0.051519,0.686137,0.740754,0.084669,0.311996,0.092276,0.079921,0.835280,-0.5,1.125346
1,0.835561,9800.0,0.518157,0.042088,0.686137,0.218610,0.066040,0.311996,0.002335,0.165881,0.835280,-0.5,0.684668
2,0.835561,1500.0,0.518157,0.205256,0.686137,0.740754,0.091620,0.598316,0.214469,0.754198,0.835280,0.0,-0.789908
3,0.835561,3600.0,0.518157,0.205256,0.686137,0.740754,0.080371,0.311996,0.016369,0.754198,0.835280,-1.2,-0.891603
4,0.164439,650.0,0.518157,0.350957,0.234910,0.740754,0.076506,0.598316,0.113506,0.079921,0.163168,0.0,-0.332281
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330611,0.835561,2200.0,0.518157,0.350957,0.686137,0.040636,0.067002,0.071334,0.008850,0.165881,0.835280,-2.6,0.152152
330612,0.835561,1199.0,0.518157,0.065544,0.686137,0.218610,0.175397,0.598316,0.015356,0.754198,0.835280,-0.5,-0.349230
330613,0.835561,9200.0,0.518157,0.087397,0.234910,0.740754,0.175397,0.311996,0.214469,0.754198,0.835280,0.0,-0.332281
330614,0.835561,3400.0,0.518157,0.188696,0.686137,0.740754,0.091620,0.311996,0.214469,0.165881,0.835280,0.0,-0.366179
330615,0.835561,28990.0,0.481843,0.350957,0.686137,0.740754,0.066040,0.598316,0.113506,0.754198,0.835280,-2.0,3.311787

In [11]:
encoding.target_encoding()

{'dateCrawled': ['2016-03', '2016-04'], 'abtest': ['test', 'control'], 'vehicleType': ['coupe', 'suv', 'small car', 'Sin informacion', 'convertible', 'bus', 'combi', 'other'], 'yearOfRegistration': ['Moderno', 'Clásico', 'Reciente', 'Antiguo', 'Desconocido'], 'gearbox': ['manually', 'automatic', 'Sin informacion'], 'monthOfRegistration': ['5.0', '8.0', '6.0', '7.0', '10.0', '3.0', '12.0', '11.0', '2.0', '1.0', '4.0', '9.0'], 'fuelType': ['diesel', 'petrol', 'Sin informacion', 'lpg', 'other', 'hybrid', 'cng', 'electro'], 'brand': ['audi', 'jeep', 'volkswagen', 'skoda', 'bmw', 'peugeot', 'ford', 'mazda', 'nissan', 'renault', 'mercedes_benz', 'opel', 'citroen', 'honda', 'fiat', 'mini', 'smart', 'hyundai', 'seat', 'subaru', 'volvo', 'mitsubishi', 'alfa_romeo', 'kia', 'suzuki', 'lancia', 'porsche', 'toyota', 'chevrolet', 'sonstige_autos', 'dacia', 'daihatsu', 'chrysler', 'jaguar', 'daewoo', 'rover', 'saab', 'trabant', 'land_rover', 'lada'], 'notRepairedDamage': ['yes', 'Sin informacion', 'no'], 'dateCreated': ['2016-03', '2016-04', '2016-02', '2016-01', '2015-03', '2015-06', '2015-11', '2015-12', '2014-03', '2015-09', '2015-08', '2015-10']}

TypeError: Passing a dict as an indexer is not supported. Use a list instead.

In [64]:
encoder = TargetEncoder(smooth="auto", categories="auto")
encoded_data = encoder.fit_transform(df[["dateCrawled"]],df[["price"]])

KeyboardInterrupt: